body{
    background-color: brown;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 125px auto;
    text-align: center;
    gap: 1rem;
}
h1{
    color: #fff;
    font-size: 2rem;
}
.calculator-container input,button{
    font-size: 1.2rem;
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    outline: none;
}
.calculator-container input:focus{
    border: 2px solid rgb(140, 14, 14);
}
.button-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.button-container button{
    width: 200px;
    margin: 0 auto;
}
.button-container button{
    margin: 0 auto;
    cursor: pointer;
}
.calculator-container button:focus,
.calculator-container button:hover{
    background-color: rgb(150, 14, 14);
    color: #fff;
    transform: scale(1.1);
}
@media screen and (max-width:532px) {
    .calculator-container input{
        width: 80%;
        margin: 0 auto;
    }
    .calculator-container button{
        width: 80%;
        padding: 5px;
    }
}